# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# VS Code
.vscode/

# Thumbnails
Thumbs.db
ehthumbs.db

# Arquivo de vídeo grande demais para o GitHub (>100MB)
04_PROJETOS/videos-fotos-bronx-projetos/Galpão-Industrial-STK.mp4
